# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Jupyter Notebook
.ipynb_checkpoints

# Environment
.env
.venv
venv/
env.bak/
venv.bak/

# VS Code
.vscode/

# Data & Outputs
*.ckpt
*.h5
*.pth
*.pt

# OS
.DS_Store
Thumbs.db